@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    background-color: rgb(78, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.rotate-45 {
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    margin: 50px;
    border-top: 25px rgb(113, 67, 44) solid;
    border-bottom: 25px rgb(43, 82, 117) solid;
    border-right: 25px rgb(120, 119, 122) solid;
    border-left: 25px rgb(58, 104, 76) solid;
    display: inline-block;
    font-family: 'Bree Serif', serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

p {
    transform: rotate(-45deg);
    font-size: 16px;
    
}
.top{
    font-size: 24px;
    padding-right: 70px;
    padding-top: 22px;
}
span{
    color: rgb(115, 62, 41);
}